/* styles.css */

div {
    
    margin: auto;
    display:flex;
    flex-direction: column;
    
    
}

 .main-heading {
    
    
    font-size: 40px;
    text-align: center;
    
} 

body {
    background-color: beige;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    font-size: 20px;
    margin: 40px;
    padding: 10px 20px;
}

.options-para {
    font-size: 24px;
    text-align: center;
}

.result-display {
    font-size: 30px;
    margin: 0 auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    width: 1100px;
    text-align: center;   
}